@media only screen and (max-width: 1920px) and (min-width: 1600px) {
    body {
        font-size: 1.1428em;
    }

    .container {
        width: 1440px;
    }

    .servise-container .skills-container {
        margin-left: 198px;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 0.8em;
    }

    .container {
        width: 980px;
    }

    .services {
        display: block;
        text-align: center;
        width: 363px;
        margin: auto;
    }

    .servise-container .skills-container {
        margin: 90px auto 0;
        display: flex;
    }

    .img-section {
        width: 980px;
    }

    .width-31 {
        width: 31%;
    }

    .mt-290 {
        margin-top: 150px;
    }

    .client-opinion p {
        max-width: 230px;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {

    .container {
        max-width: 90%;
    }

    .about-section h1 {
        font-size: 3.2857em;
        font-weight: bold;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }

    .nav-container {
        position: relative;
    }

    .main-header-nav ul {
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        color: black;
        opacity: 80%;
        width: 135px;
        height: 240px;
        position: absolute;
        right: 65px;
        border-radius: 5px;
        text-align: center;
        gap: 0;
        z-index: +150;
    }

    .nav-container ul a {
        color: black;
        font-size: 16px;
    }

    .responsive-1024 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .img-section {
        max-width: 90%;
    }

    .client-opinion {
        padding: 20px;
    }

    .client-opinion p {
        max-width: 180px;
        text-align: center;
    }

    .font-size-09 {
        font-size: 0.8em;
    }

    .pt-70 {
        padding-top: 25px;
    }

    .contact-container {
        margin-top: 10px;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 800px) {
    .first-background {
        background-position-x: 33%;
    }

    .bg-color-1 {
        background-position-x: 33%; 
    }

    .bg-color-1 .about-section {
        right: 10%;
        top: 50%;
    }

    .client-opinion p {
        max-width: 200px;
        text-align: left;
    }

    .client-opinion-container {
        width: 800px;
        position: relative;
        left: calc(-1 * (800px - 100vw) / 2 - 30px);
    }

    .servise-container .skills-container {
        width: 260px;
    }

    .subscribe-container {
        width: 150px;
    }

    .res-800-left {
        display: inline-block;
        line-height: 30px;
        width: 120px;
    }

    .res-800-right {
        display: inline-block;
        border-top: 0;
        border-left: 1px solid white;
        padding-left: 20px;
        line-height: 2.5;
    }
    
    .res-800-width {
        width: 429px;
    }

    .mt-200 {
        margin-top: 90px;
    }

    .scroll-button {
        margin: 40px auto 0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.6em;
    }

    .services {
        width: 100%;
    }

    .servise-container p {
        margin-top: 15px;
    }

    .program-skill {
        width: 123px;
        box-sizing: border-box;
    }

    .titles p {
        max-width: 90%;
    }

    .responsive-600 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .scrolling-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .width-31 {
        width: 250px;
    }

    .res-800-left {
        text-align: center;
        width: 100%;
    }

    .res-800-width {
        width: 100%
    }

    .subscribe-container {
        width: 78px;
    }

    .res-800-right {
        width: 100%;
        text-align: center;
        display: inline-block;
        border-top: 1px solid white;
        border-left: 0;
        width: 100%;
        padding: 0;
    }

    .res-800-right > div {
        display: block;
    }

    .res-800-right img {
        width: 20px;
        margin-top: 20px;
    }
}
